<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">
      <app-arch-input
        [textLabel]="'Name'"
        formControlName="name"
      ></app-arch-input>
    </div>
    <div class="col-12">
      <app-arch-checkbox
        label="active"
        formControlName="active"
      ></app-arch-checkbox>
    </div>
    <div class="col-12">
      <app-arch-input
        [textLabel]="'Search'"
        formControlName="search"
      ></app-arch-input>
    </div>
    <div class="col-12">
      <app-arch-button
        textLabel="submit"
        [buttonType]="ButtonTypeEnum.SUBMIT"
        [color]="ButtonColorEnum.PRIMARY"
        [buttonStyle]="2"
      ></app-arch-button>
    </div>
  </div>
</form>
