<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-12">
      <span [translate]="'test'"></span>
      <arch-input [textLabel]="'Name'" formControlName="name"></arch-input>
    </div>
    <div class="col-12">
      <arch-checkbox
        [labelPosition]="'before'"
        label="active"
        formControlName="active"
      ></arch-checkbox>
    </div>
    <div class="col-12">
      <arch-input [textLabel]="'Search'" formControlName="search"></arch-input>
    </div>
    <div class="col-12">
      <arch-button
        textLabel="submit"
        [buttonType]="ButtonTypeEnum.SUBMIT"
        [color]="ButtonColorEnum.PRIMARY"
        [buttonStyle]="2"
      ></arch-button>
    </div>
  </div>
</form>
